{% extends 'stats/base.html' %}

{% block daterange %}
{% endblock %}

{% block content %}
<div class="text-container">
	<p>
		This page collects statistics from Classic Doom engine games.
		These statistics are generated form data that is publicly
		available through master servers of each source-port
		and through specific game servers themselves. All
		information is collected using the same methods that
		are available to a normal server browser.
	</p>
	<p>
		Site's and server collector backend's source code
		can be found in this page's footer.
	</p>
</div>
{% endblock content %}
