{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}">
		<link rel="stylesheet" href="{% static 'jquery-ui-1.11.4/jquery-ui.css' %}">
		<link rel="stylesheet" href="{% static 'css/reset.css' %}">
		<link rel="stylesheet" href="{% static 'css/stats.css' %}">
		<title>Doom Stats</title>
		<script type="text/javascript" src="{% static 'jquery-1.11.3.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'jquery-ui-1.11.4/jquery-ui.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'URI.js' %}"></script>
		{% include 'googlecharts/head.html' %}
		<script type="text/javascript" src="{% static 'doomstats.js' %}"></script>
		<script type="text/javascript">
		sitedata = {{ json|safe }}
		</script>
	</head>
	<body>
		<div id="page-header">
			<h1 id="logo">Doom Stats</h1>
		</div>
		<div id="page-wrapper">
			<div id="menubar">
				<ul>
					<li><a href="{% url 'front_page' %}">Main</a></li>
					{% for engine in engines %}
					<li><a href="{% url 'engine' name=engine.name %}">{{ engine.name }}</a></li>
					{% endfor %}
					<li><a href="{% url 'about' %}">About</a></li>
				</ul>
			</div>
			<div id="page-content">
				{% block daterange %}
				<div class="input-append date">
					<span class="label">Date:</span>
					<input type="text" class="datepicker" id="date-from">
					<span class="add-on">to</span>
					<input type="text" class="datepicker" id="date-to">
					<span class="hint">All times are UTC.</span>
				</div>
				{% endblock %}
				{% block content %}
				{% endblock %}
			</div>
		</div>
		<div class="page-clear"></div>
		<div id="page-footer">
			<p>
				Doom Stats by Zalewa, 2015.
				<a href="https://github.com/Zalewa/doomstats">Source</a>.
			</p>
			<p>
				Powered by
				<a href="https://bitbucket.org/zalewa/doomlister">Doomlister</a>
				- a headless fork of
				<a href="http://doomseeker.drdteam.org">Doomseeker</a>
			</p>
		</div>
	</body>
</html>
