<div class="data"{% if table.id %} id="{{ table.id }}"{% endif %}>
	<table>
		<thead>
			<tr>
				<th colspan="{{ table.num_cols }}">{{ table.header }}</th>
			</tr>
		</thead>
		<tbody class="{{ table.body_css_class }}">
			{% for row in table.rows %}
			<tr>
				{% if table.num_cols > 1 %}
				{% if table.left_header %}
				<th>{{ row|first }}</th>
				{% else %}
				<td>{{ row|first }}</td>
				{% endif %}
				{% for cell in row|slice:"1:" %}
				<td>{{ cell }}</td>
				{% endfor %}
				{% else %}
				<td>{{ row|first }}</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
