* {
	#border: 1px dotted blue;
}


html, body {
	height: 100%;
	max-width: 800px;
}

/* Section: Generics */
div {
	padding: 5px;
	display: block;
}

p {
}

p + p {
	margin-top: 0.5em;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	text-transform: capitalize;
}

/* Section: Main layout */
#page-header {
	background-color: #999;
}

#page-wrapper {
	padding: 0px;
}

#page-wrapper:after {
	content: '';
	display: block;
}

#menubar {
	background-color: #ccc;
	float: left;
	height: 100%;
}

#page-content {
	overflow: hidden;
	padding-right: 0px;
}

.page-clear {
	clear: both;
	height: 60px;
}

#page-footer {
	background-color: white;
	width: 800px;
	font-size: 0.8em;
	color: #666;
	text-align: center;
	position: fixed;
	bottom: 0px;
}

/* Date */
div.date {
	border: 1px solid black;
	background-color: #ddd;
}

.datepicker {
	width: 150px;
}

/* Generic classes */
.label {
	font-weight: bold;
}

.add-on {
	margin: 0px;
	padding: 0px 5px;
}

.hint {
	font-size: 0.8em;
	color: #222;
	white-space: nowrap;
}

h1 .sub-title {
	font-weight: normal;
}

#page-content h1:after {
	content: '';
	width: 100%;
	height: 1px;
	display: block;
	background: #bbb;
}
